* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: PT Sans Narrow;
  scroll-behavior: smooth;
}

h2 {
  font-size: 33px;
  color: #42DE8A;
}

p {
  font-size: 15px;
}

.logo {
  position: relative;
}

.hamburger {
  display: none;
  background: red;
  position: relative;
  right: 200px;
  top: 0;
  margin-left: 40px;
}

.menu {
  color: #42DE8A;
}

.outer-banner {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/bannerimg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.inner-banner {
  margin: auto;
  text-align: center;
  width: 80%;
  padding-top: 40px;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  font-size: 30px;
  font-family: futura;
  vertical-align: center;
}

.header .logo:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2s all;
  transition: 2s all;
  opacity: 0.6;
}

.nav ul {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav ul li {
  padding: 0px 15px;
  font-size: 14px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav ul li a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  color: whitesmoke;
}

.nav ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #42DE8A;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav ul li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #42DE8A;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav ul li a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav ul li a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn {
  padding: 10px 40px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#DD5E89), color-stop(50%, #F7BB97), to(#DD5E89));
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 50%, #DD5E89 100%);
  background-size: 200%,auto;
  color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
}

.btn:hover {
  background-position: right center;
}

.btn_banner {
  border: 2px solid #42DE8A;
  color: #42DE8A;
  outline: none;
  position: relative;
  background: transparent;
  padding: 12px 50px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 20px;
  font-size: 15px;
  -webkit-animation-name: btn-anim;
          animation-name: btn-anim;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 1;
  overflow: hidden;
}

.btn_banner:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 0%;
  z-index: -1;
  background: #42DE8A;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.btn_banner:hover:before {
  width: 100%;
}

.btn_banner:hover {
  color: white;
  border-radius: 5px;
  -webkit-transition: 2s all;
  transition: 2s all;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  height: 330px;
  -webkit-animation-name: banner-anim;
          animation-name: banner-anim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
}

.bannerp-ani2 {
  position: relative;
  -webkit-animation-name: bannerp-ani2;
          animation-name: bannerp-ani2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.client-outside {
  width: 100%;
  height: 70vh;
  color: #ffffff;
}

.client-inside {
  width: 80%;
  margin: auto;
  text-align: center;
}

.client-intro {
  -webkit-animation-name: client-ani;
          animation-name: client-ani;
  position: relative;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: black;
  padding-top: 148px;
  -webkit-transition: 3s all;
  transition: 3s all;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 115px;
}

.client-item {
  width: 100px;
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
}

.services-outside {
  width: 100%;
  height: auto;
  background: whitesmoke;
}

.services-inside {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.services-inside .card-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (max-width: 1000px) {
  .services-inside .card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-inside .card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.services-inside .card {
  text-align: center;
  background: white;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.services-inside .card .card-icon {
  padding-top: 60px;
}

.services-inside .card .card-article p {
  padding: 40px 0px;
}

.services-inside .card h3 {
  font-size: 17px;
  margin-top: 50px;
}

.services-inside .card p {
  font-size: 15px;
}

.services-inside .service-icon {
  width: 50px;
  height: 50px;
}

.bg {
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: #faf9f9;
  -webkit-clip-path: polygon(0 0, 100% 1%, 45% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 1%, 45% 100%, 0% 100%);
  background-attachment: fixed;
  position: absolute;
}

.section4 {
  width: 100%;
  height: 50vh;
  background: white;
  z-index: -2;
  color: white;
  position: relative;
  margin-top: 100px;
}

.ceo-clip {
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #42DE8A;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 55%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 55%, 0 100%, 0 0);
  position: absolute;
}

.ceo-content {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.ceo-img figcaption {
  font-size: 32.3px;
  margin-bottom: 10px;
}

.photosec-outer {
  width: 100%;
  height: auto;
  color: black;
}

.photosec-inner1 {
  text-align: LEFT;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

.photosec-inner1 .photo {
  width: 439px;
  height: 631px;
}

.photosec-inner1 img {
  width: 100%;
  height: 100%;
}

.photo-article {
  width: 50%;
  color: #323332;
}

.photo-article h4 {
  font-size: 33px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.photo-article p {
  width: 270px;
  font-size: 20px;
  margin-bottom: 60px;
}

.btn-photo {
  width: 240px;
  height: 40px;
  padding: 5px 10px;
}

.testonomy-outer {
  width: 100%;
  background: #F0F0F0;
  height: auto;
  margin-top: 100px;
}

.testonomy-inner {
  padding-top: 60px;
  text-align: center;
  width: 80%;
  margin: auto;
  height: auto;
}

.testonomy-intro h3 {
  font-size: 33px;
}

.testonomy-intro p {
  margin-top: 20px;
  margin-bottom: 90px;
}

.testonomy-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.testonomy-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 315px;
  height: 425px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.testonomy-card .client-logo {
  margin-top: -70px;
}

.testonomy-card .testonomy-image {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testonomy-card .mg {
  margin-top: 30px;
  margin-bottom: 10px;
}

.testonomy-card q {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testonomy-card label {
  color: #DE4284;
}

.testonomy-card label br {
  color: white;
}

.data-section-outer {
  width: 100%;
  height: 30vh;
  margin-top: 20px;
  margin-bottom: 150px;
}

.data-section-inside {
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40vh;
}

.data-container .item {
  font-family: futur;
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

.data-container .item h5 {
  font-family: futur;
  font-size: 66px;
  font-weight: 100;
}

.data-container .item p {
  color: #42DE8A;
}

.team-outside {
  width: 100%;
  height: auto;
}

.team-inside {
  width: 80%;
  margin: auto;
  text-align: center;
}

.team-intro {
  color: black;
}

.team-intro h3 {
  font-size: 42px;
  padding-bottom: 10px;
}

.team-intro p {
  color: black;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .team-card {
  color: black;
  width: 300px;
  height: 450px;
  text-align: center;
}

.card-container .team-card .img-holder {
  border: 1px solid blue;
  width: 300px;
  height: 450px;
}

.card-container .team-card img {
  width: 100%;
  height: 100%;
}

.card-container .team-article h5 {
  font-size: 17px;
}

.card-container .team-article label {
  font-size: 12px;
}

.card-container .team-article p {
  font-size: 10px;
}

.newsletter-outer {
  width: 100%;
  background: #42DE8A;
  height: auto;
  padding-bottom: 60px;
}

.newsletter-inside {
  width: 80%;
  margin: auto;
  text-align: center;
  height: auto;
}

.newsletter-intro {
  padding-top: 80px;
  color: white;
}

.newsletter-intro h3 {
  font-family: PT Sans Narrow;
  font-size: 27px;
  font-weight: 100;
  padding-bottom: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin: 0px 10px;
  width: 250px;
  border-radius: 5px;
}

.input-container .input-field {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
}

.input-container .icon {
  color: #42DE8A;
  text-align: center;
  padding: 10px;
}

.input-container .input-field:focus {
  border: 2px solid whitesmoke;
}

.submit {
  background: whitesmoke;
  color: black;
  outline: none;
  border: none;
  border-radius: 5px;
}

.contact-outer {
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 30px;
}

.contact-outer h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contact-inner {
  width: 80%;
  background: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-inner .classinput {
  padding: 15px 60px;
  margin: 14px 0px;
  border: 1px solid grey;
  outline: none;
}

.contact-inner .classinput:focus {
  border: 2px solid #117c4f;
}

.contact-inner figure {
  width: 400px;
  height: auto;
  padding-top: 120px;
}

.contact-inner figure img {
  width: 100%;
  height: 100%;
}

.contact-inner textarea {
  width: 300px;
  border-radius: 10px;
  height: 100px;
  outline: none;
  border: none;
  text-align: left;
  padding: 30px;
  border: 1px solid grey;
}

.footer-outer {
  width: 100%;
  height: auto;
  background: #3E67ED;
  color: white;
  padding: 100px 0px;
}

.footer-inside {
  width: 80%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-item {
  padding: 40px 10px;
  margin: 2px;
}

.footer-item h3 {
  font-size: 22px;
  font-weight: 50;
  margin-bottom: 20px;
}

.footer-item p {
  margin-bottom: 20px;
  font-size: 13px;
  width: 250px;
  font-weight: 100;
}

.footer-item ul li a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: 0.25ms all;
  transition: 0.25ms all;
}

.social {
  color: white;
  margin: auto;
  font-size: 20px;
}

.icon-container:hover {
  background: white;
}

.icon-container:hover .social {
  color: #42DE8A;
}

.price-outside {
  background: grey;
  width: 100%;
  height: 70vh;
}

.price-inside {
  width: 80%;
  margin: auto;
  background: pink;
}

.price-container {
  display: -ms-grid;
  display: grid;
  background: pink;
}

.price-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background: black;
}

@media (max-width: 700px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav {
    width: 100%;
    display: none;
    z-index: 2;
    background: black transparent;
  }
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav ul li {
    padding: 10px 0px;
  }
  .logo {
    width: 100%;
    background: red;
    position: relative;
  }
  .banner-content {
    margin-top: 250px;
  }
  h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .inner-banner {
    width: 80%;
  }
  .client-outside {
    width: 100%;
    height: auto;
    color: #ffffff;
  }
  .card-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .ceo-p {
    font-size: 10px;
  }
  .photosec-inner1 {
    text-align: center;
  }
  .photo-article {
    width: 100%;
    color: #323332;
    text-align: center;
  }
  .photo-article h4 {
    font-size: 25px;
  }
  .photo-article p {
    margin-bottom: 30px;
    font-size: 18px;
    width: 100%;
  }
  .photo-article .data-container {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-container {
    margin-top: 10px;
  }
  .submit {
    font-size: 12px;
    width: 140px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 14px;
    text-align: center;
  }
  .contact-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  figure {
    width: 100%;
    height: auto;
    padding-top: 120px;
    display: none;
  }
  iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */